.contact {
    width: 97vw;
    margin: auto;
    display: grid;
    gap: 20px;
}

.contact__texts {
    display: grid;
    gap: 16px;
    justify-items: start;
}

.contact__title {
    margin: 0;
    font-weight: normal;
    font-size: 1.8em;
}

.contact__text {
    font-weight: normal;
    margin: 0;
    font-size: 1.3em;
}

.contact__phone {
    font-weight: normal;
    margin: 0;
    font-size: 1.5em;
}

.form {
    display: grid;
    justify-items: start;
    gap: 16px;
    width: 60%;
}

.inputs {
    margin: 0;
    padding: 0;
    border: none;
    display: grid;
    gap: 16px;
    column-gap: 50px;
    grid-template-columns: repeat(2, calc((100% - 50px) / 2));
    width: 100%;
}

.input {
    height: 32px;
    font-size: 1.1em;
    padding-left: 14px;
    border: 2px solid;
    border-image: linear-gradient(to right, #D3B268 0%, #DFD967 100%) 1;
}

.input_width_long {
    grid-column: 1 / 3;
}

.input_type_area {
    font-size: 1.4em;
    height: 100px;
    border: 3px solid;
    border-image: linear-gradient(to right, #D3B268 0%, #DFD967 100%) 1;
}

.input::placeholder {
    color: #000;
}

.button {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 50px;
    border: none;
    background-image: linear-gradient(to right, #D3B268 0%, #DFD967 100%);
    color: white;
    font-size: 1.75em;
    border-radius: 5px;
}