.navigation {
    position: absolute;
    top: 0;
    left: calc((100vw - 97vw) / 2);
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97vw;
    max-width: 1890px;
}

.logo {
    font-size: 3em;
    font-family: 'PT Sans Narrow';
}

.listLinks {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.3em;
    padding: 0;
    width: calc(100% - 60px - 200px - 200px);
    gap: 25px;
}

@media screen and (max-width: 1200px) {
    .listLinks {
        width: calc(100% - 60px - 180px - 100px);
    }
}

.link {
    display: flex;
    gap: 4px;
    font-size: 0.8em;
}

@media screen and (max-width: 1200px) {
    .link {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 1200px) {
    .link__arrow {
        width: 20px;
    }
}

.link__namesList {
    display: none;
}

.link:hover .link__namesList {
    display: grid;
    background-color: white;
    border: #C2CA6A solid 3px;
    border-radius: 6px;
    padding: 16px;
    gap: 10px;
    position: absolute;
    top: 75px;
    color: black;
    text-align: start;
    list-style-type: none;
    font-size: 0.8em;
}

.partner {
    display: flex;
    gap: 12px;
    text-align: start;
}

.partner__logo {
    width: 80px;
}

@media screen and (max-width: 1200px) {
    .partner__logo {
        width: 60px;
    }
}

@media screen and (max-width: 1200px) {
    .partner__name {
        font-size: 0.8em;
    }
}

.margin_none {
    margin: 0;
}

.product {
    text-decoration: none;
    color: black;
}