.navigation {
    position: absolute;
    top: 0;
    left: calc((100vw - 97vw) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97vw;
    max-width: 1890px;
}

.logo {
    font-size: 3em;
}

.listLinks {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.3em;
    padding: 0;
    width: calc(100% - 60px - 200px - 200px);
    gap: 25px;
}

.link {
    display: flex;
    gap: 4px;
}

.partner {
    display: flex;
    gap: 12px;
    text-align: start;
}

.partner__logo {
    width: 80px;
}