.navigation {
    position: absolute;
    top: 0;
    left: calc((100vw - 97vw) / 2);
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97vw;
    max-width: 1890px;
}

.logo {
    font-size: 3em;
}

.listLinks {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.3em;
    padding: 0;
    width: calc(100% - 60px - 200px - 200px);
    gap: 25px;
}

.link {
    display: flex;
    gap: 4px;
}

.link__namesList {
    display: none;
}

.link:hover .link__namesList {
    display: grid;
    background-color: white;
    border: #C2CA6A solid 3px;
    border-radius: 6px;
    padding: 16px;
    gap: 10px;
    position: absolute;
    top: calc(100px);
    color: black;
    text-align: start;
    list-style-type: none;
    font-size: 0.8em;
}

.partner {
    display: flex;
    gap: 12px;
    text-align: start;
}

.partner__logo {
    width: 80px;
}

.margin_none {
    margin: 0;
}