.works {
    width: 92vw;
    margin: auto;
    display: grid;
    gap: 30px;
    max-width: 1890px;
}

.works__title {
    margin: 0;
    font-weight: normal;
    font-size: 1.8em;
    text-align: start;
}

.company {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    text-align: start;
    gap: 40px;
    row-gap: 12px;
    flex-wrap: wrap;
}

.company__name {
    font-size: 1.3em;
    text-align: center;
    line-height: 40px;
    height: 40px;
    border-radius: 4px;
    padding: 4px;
}

.company__name_active {
    border: 3px solid;
    border-image: linear-gradient(to right, #D3B268 0%, #DFD967 100%) 1;
}

.experience {
    display: grid;
    gap: 16px;
    text-align: start;
}

.work {
    display: grid;
    gap: 6px;
    padding: 0 1em;
}

.work:first-of-type {
    display: flex;
    align-items: flex-end;
}

.work__name {
    font-weight: normal;
    margin: 0;
    font-size: 1.3em;
}

.work__list {
    margin: 0;
    padding-left: 22px;
}

.work__text {
    margin: 0;
    font-size: 1.15em;
}