@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;1,500&display=swap");

.geoArrow {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-miterlimit: 10
}

.header {
  z-index: 0;
  position: relative;
  background: linear-gradient(#82A973, #E6DC66);
  height: 100vh;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "DM Mono", monospace;
  font-weight: 300;
  overflow: hidden;
  color: white;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 1.8em;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.main:before,
.main:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -3;
}

/*.main:before {
  right: 0;
  bottom: -19em;
  height: 30em;
  width: 30em;
  border-radius: 30em;
  background: linear-gradient(#82A973, #E6DC66);
  align-self: flex-end;
  animation: gradient-fade 8s ease-in-out 3s infinite alternate;
}*/

.main:after {
  top: 0;
  left: 30em;
  height: 10em;
  width: 10em;
  border-radius: 10em;
  background: linear-gradient(#82A973, #E6DC66);
  animation: gradient-fade-alt 6s ease-in-out 3s infinite alternate;
}

.main__textWrapper {
  position: relative;
  padding: 2em;
}

.main__textWrapper:before,
.main__textWrapper:after {
  content: "";
  display: block;
  position: absolute;
}

.main__textWrapper:before {
  z-index: -1;
  top: -3em;
  right: -3em;
  width: 13em;
  height: 13em;
  opacity: 0.7;
  border-radius: 13em;
  background: linear-gradient(#D2B068, #E6DC66);
  animation: rotation 7s linear infinite;
}

.main__textWrapper:after {
  z-index: -1;
  bottom: -20em;
  width: 20em;
  height: 20em;
  border-radius: 20em;
  background: linear-gradient(#87AC72, #E6DC66);
  animation: rotation 7s linear infinite;
}

.arrow {
  z-index: 1000;
  opacity: 0.5;
  position: absolute;
}

.arrow__top {
  top: 0;
  left: -5em;
}

.arrow__bottom {
  bottom: 0;
  right: 3em;
}

.circle {
  transform: translate(50%, -50%) rotate(0deg);
  transform-origin: center;
}

.circle__ltblue {
  height: 20em;
  width: 20em;
  border-radius: 20em;
  background: linear-gradient(#D2B068, #82A973);
}

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: pink;
}

.dottedCircle {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
  animation: rotation 38s linear infinite;
}

/*// animations*/
.drawIn {
  stroke-dasharray: 1000;
  stroke-dashoffset: 10;
  animation: draw 15s ease-in-out alternate infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.itemTo {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce_1 {
  animation-name: bounce_1;
  animation-timing-function: ease;
}

.bounce_2 {
  animation-name: bounce_2;
  animation-timing-function: ease;
}

.bounce_3 {
  animation-name: bounce_3;
  animation-timing-function: ease;
}

@keyframes bounce_1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce_2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce_3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

/*// gradient fade*/

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradient-fade {
  from {
    transform: translate(10%, -10%) rotate(0deg);
  }
  to {
    transform: translate(50%, -50%) rotate(360deg);
  }
}

@keyframes gradient-fade-alt {
  from {
    transform: translate(-20%, 20%) rotate(0deg);
  }
  to {
    transform: translate(-60%, 60%) rotate(360deg);
  }
}
